---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const res = await fetch("https://3011.site/api");
const data = await res.json();
---

<Layout title="30/11">
  <main>
    <h1>30/11</h1>
    <ul>
      {
        data.map((dat) => {
          return (
            <li class="lista">
              <Card title={dat.name} body={dat.desc} href={dat.link} />
            </li>
          );
        })
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    width: 90%;
    margin: 1vh auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0 0 1vh 0;
    text-shadow: 8px 8px 16px #9d9d9d, -8px -8px 16px #ffffff;
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  h1:hover {
    text-shadow: none;
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vh;
  }
  .lista {
    list-style: none;
    width: fit-content;
    margin: 3vw 3vw;
  }
  @media screen and (max-width:600px){
    ul {
    flex-direction: column;
    justify-content: center;
  } h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0 0 1vh 0;
    text-shadow: 3px 3px 5px #9d9d9d, -3px -3px 5px #ffffff;
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  }
</style>
