---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class='link-card'>
  <a target='_BLANK' rel='noreferrer noopener' href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>
<style>
  .link-card {
    list-style: none;
    width: fit-content;
    display: flex;
    padding: 0.2vw;
    transition: all 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    border-radius: 25px;
    box-shadow: 8px 8px 16px #9d9d9d, -8px -8px 16px #ffffff;
    background: #e0e0e0;
    margin-bottom: 3vw;
  }
  .link-card > a {
    text-decoration: none;
    line-height: 1.4;
    padding: 2vw;
    color: #111;
    opacity: 0.8;
  }
  h2 {
    margin: 0;
    font-size: 1.3rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    text-align: center;
  }
  p {
    margin-top: 0.5vh;
    margin-bottom: 0;
    color: #444;
  }
  .link-card:is(:hover) {
    box-shadow: none;
    background-position: 0;
  }
  .link-card:is(:hover, :focus-within) h2 {
    color: rgb(var(--accent));
  }
  @media screen and (max-width: 600px) {
    .link-card {
      padding: 0.2vw;
      border-radius: 7px;
      box-shadow: 3px 3px 15px -3px #9d9d9d, -3px -3px 15px -3px #ffffff;
      text-align: center;
    }
    .link-card > a {
      border-radius: 7px;
    }
  }
</style>
